*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
#container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
}
header{
    width: 20%;
    height: 100vh;
    background-color: #99999940;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
#img-header{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 7px;
    object-fit: cover;
    position: relative;
    left: 15%;
}
#ul-header{
    display: flex;
    flex-direction: column;
    
}
#ul-header li{
    display: flex;
    flex-direction: column;
    h1{
        margin-bottom: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }
    a{
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        list-style: none;
        color: black;
        margin-bottom: 25px;
        font-weight: bold;
    }
}
#div-form{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    label{
        font-size: 18px;
        font-weight:bold;
        font-family: "Poppins", sans-serif;
        margin-bottom: 10px;
    }
    input{
        padding: 12px 40px 12px 12px;
    }
}

section{
    width: 80%;
    height: 22vh;
    background-color: #CCB78F;
    display: flex;
    position: relative;
    left: 20%;
}
section span{
    text-align: left;
    margin-left: 350px;
    margin-top: 60px;
}
section span a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;

}
section span h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;

}

main{
    display: flex;
    position: relative;
    left: 20%;
    width: 80%;
    height: 308vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
#div-esquerda{
    height: 300vh;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div-direita{
    height: 300vh;
    width: 30%;
    background-color: rgb(248, 249, 250);
}

.mini-div{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    .sub-div{
        margin-top: 30px;
        margin-left: 15px;
    }
    img{
        width: 350px;
        height: 300px;
        object-fit: cover;
    }
    h1{
        font-size: 18px;
        margin-bottom: 8px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }
    h2{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        margin-bottom: 16px;
        color: #BFBFBF;
        span{
            color: black;
        }
    }
    h3{
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        margin-bottom: 24px;
        color: #999999;
    }
    a{
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: #CCB78F;
        text-decoration: none;
        font-weight: 500;
    }
}

#input-1{
    margin-top: 7%;
    width: 45%;
    height: 5vh;
    padding-left:12px;
    margin-left: 27%;
}


#div-text1{
    margin-top: 20%;
    text-align:initial;

    hr{
        width: 60%;
        display: flex;
        justify-self: center;
    }
}


.text1{
    margin-left: 20%;
    line-height: 5vh;
}
#h3-1{
    margin-left: 20%;
    font-size: 14px;
}
.cont-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text-numeros1{
        position: relative;
        right: 20%;
        top: 12px;
    }
}

#h3-2{
    margin-left: 20%;
    margin-top: 25%;
    font-size: 14px;
}
.img-1{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 7%;
}


.a-1{
    text-decoration: none;
    color: black;
    margin-left: 10%;
    display: inline-block;
    width: 80%;
    font-size: 16px;
}
.a-2{
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin-left: 10%;
    font-size: 12px;

}
.div-66{
    display: flex;
    flex-direction: row;
}
.div-68{
    width: 100%;
    margin-top: 10%;
}

.img-2{
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 7%;
}
#h3-3{
    margin-left: 20%;
    margin-top: 25%;
    font-size: 14px;
}
.a-02{
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 1%;
    width: min-content;
}
#div-96{
    margin-top: 7%;
    margin-left: 20%;
}

footer{
    width: 80%;
    height: 60vh;
    background-color: #242423;
    position: relative;
    left: 20%;
}
#div-container2{
    display: flex;
    justify-content: center;
    width: 84%;
    height: 70%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 4%;
    margin-right: 4%;
    gap: 30px;
    padding-top: 6%;
}
#div-esquecida{
    width: 350px;
    height: 312px;
    background-image: url(/img/image_cinza.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 63px;
    margin-right: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
}
#input-20{
    height: 62px !important;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    width: 320px;
    margin-bottom: 8px;
    background-color: rgba(149, 149, 149, 0.2);
    color: white;
    justify-self: center;
}

#input-20::placeholder{
    color: white;
}

#btn-subscribe{
    text-decoration: none;
    height: 62px !important;
    font-size: 20px;
    padding: 0.375rem 0.75rem;
    width: 320px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#coisas{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#p-subscribe{
    color: black;
}
#h3-newslettersla{
    margin-bottom: 24px;
    color: white;
}
#p-coisas{
    margin-bottom: 24px;
    color: white;
}
.protagonista{
    text-decoration: underline !important;
}
.h2s{
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0%;
    margin-bottom: 40px;
}
#div6fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center
}
.imgs2{
   width: 33%;
   height: 100px;
   object-fit: cover;
}
#divss{
    width: 30%;
    height: 100px;
}
#ul-rodape{
    list-style: none;
    padding-left: 0px;
}
#li-rodape{
    color: #ffffff80;
    font-family: "Montserrat", Arial, sans-serif;
    border-bottom: 1px solid #ffffff80;
    position: relative;
    margin-bottom: 20px;
}
#li-rodape5{
    color: #ffffff80;
    font-family: "Montserrat", Arial, sans-serif;
    position: relative;
    margin-bottom: 20px;
}
.span-numero{
    color: #ffffffcc;
    font-family: "Montserrat", Arial, sans-serif;
    position: absolute;
    right: 0%;
    font-weight: 500;
}
#ul-rodape2{
    list-style: none;
    padding-left: 0px;
}
#p-rodape{
    color: #FFFFFF80;
    font-family: "Montserrat", Arial, sans-serif;
    margin-bottom: 0px;
    line-height: 1.5;
}
#span-footer{
    color: #ffffffcc;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}
#li-rodape2{
    margin-bottom: 15px;
    display: flex;
}
svg{
    height: 18px;
    width: 18px;
}
#div-svj2e3{
    width: 40px;
    height: 21px;
}
#div-svj1{
    width: 40px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#p-deforadorodape{
    color: #FFFFFF80;
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 10%;
}

#input-1{
    font-size: 15px;
    font-family: "Montserrat", Arial, sans-serif;
}
#h3-1{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.text1{
    font-size: 15px;
    font-family: "Montserrat", Arial, sans-serif;
}
#h3-2{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.a-1{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.a-2{
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
}

#h3-3{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.a-02{
    font-size: 11px;
    font-family: "Montserrat", Arial, sans-serif;
}
#ult-h1{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 15%;
    line-height: 21px;
    letter-spacing: 2px;
}
#ult-p{
    position: relative;
    font-size: 15px;
    font-family: "Montserrat", Arial, sans-serif;
    width: 70%;
    color: #999999;
    left: 15%;
    line-height: 27px;
}
#h3-newslettersla{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
#p-coisas{
    font-size: 15px;
    font-family: "Montserrat", Arial, sans-serif;
}